body {
  font-family: Arial;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#shop-list {
  padding: 0;
}

#shop-list  li {
  display: inline-block;
  margin: 12px;
  border: 1px solid;
}

#shop-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #96bf48;
  padding: 30px;
  overflow: auto;
  color: white;
  /*setting overflow auto will allow this div to get a scroll bar if it exceeds the initial height*/

}
